@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Variables globales */
:root {
    --color-background: #1a1a1a; /* Fondo gris oscuro */
    --color-background-header: #232323;
    --color-primario: #2c2c2c; /* Gris oscuro para áreas principales de texto */
    --color-secundario: #3a3a3a; /* Gris medio oscuro para áreas secundarias de texto */
    --color-texto: #ffffff; /* Blanco para el texto */
    --color-boton: #4a4a4a; /* Gris para botones */
    --color-boton-hover: #5a5a5a; /* Gris más claro para el estado hover de los botones */
    --fuente: "Montserrat", sans-serif; /* Una fuente moderna y legible */
}

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el header */
.header {
    padding: 6px;
    background-color: var(--color-background-header);
    color: var(--color-texto);
}

/* Estilos para el logo en el header */
.header__logo {
    max-width: 100%;
}

/* Estilos para el main */
.main {
    height: 100vh;
    display: flex;
    background-color: var(--color-background);
    flex-direction: row;
    padding: 20px;
    gap: 2px;
    justify-content: center;
    align-items: stretch;
}

/* Estilos para el encriptador */
.encriptador {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 15px;
    background-color: var(--color-primario);
    width: 80%;
    height: 100%;
    gap: 10px;
}

.encriptador__texto {
    text-decoration: none;
    resize: none;
    width: 100%;
    height: 100%;
    background-color: var(--color-primario);
    border: none;
    font-size: 1.5rem;
    color: var(--color-texto);
}

.encriptador__texto:focus {
    outline: none;
}

.encriptador__leyenda {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5px;
}

.encriptador__leyenda-texto {
    color: var(--color-texto);
    font-family: var(--fuente);
    font-size: 0.8rem;
    text-align: center;
}

.encriptador__leyenda-icono {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M2.93 17.07A10 10 0 1 1 17.07 2.93A10 10 0 0 1 2.93 17.07M9 5v6h2V5zm0 8v2h2v-2z'/%3E%3C/svg%3E");
    background-color: var(--color-boton);
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.encriptador__opciones {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 1.5rem;
}

.encriptador__boton {
    width: 180px;
    height: 30px;
    border-radius: 24px;
    background-color: var(--color-boton);
    color: var(--color-texto);
    cursor: pointer;
}

.encriptador__boton:hover {
    background-color: var(--color-boton-hover);
}

.encriptador__boton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.encriptador__boton--encriptar {
    /* Modificador para el botón de encriptar */
}

.encriptador__boton--desencriptar {
    /* Modificador para el botón de desencriptar */
}

/* Estilos para el resultado */
.resultado {
    display: flex;
    flex-direction: column;
    resize: none;
    width: auto;
    height: 100%;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--color-primario);
    align-items: center;
}

.resultado__texto {
    text-decoration: none;
    resize: none;
    width: 100%;
    height: 100%;
    background-color: var(--color-primario);
    color: var(--color-texto);
    border: none;
    font-size: 1.5rem;
}

.resultado__texto:focus {
    outline: none;
}

.resultado__boton {
    width: 180px;
    height: 30px;
    border-radius: 24px;
    color: var(--color-texto);
    background-color: var(--color-boton);
    cursor: pointer;
}

.resultado__boton:hover {
    background-color: var(--color-boton-hover);
}

.resultado__boton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.resultado__boton--copiar {
    /* Modificador para el botón de copiar */
}

/* Estilos para la notificación */
#notificacion {
    visibility: hidden;
    min-width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}

#notificacion.mostrar {
    visibility: visible;
    animation: fadeout 2s ease-out;
}

/* Animación para la notificación */
@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* Estilos para el footer */
.footer {
    display: flex;
    background-color: var(--color-background-header);
    color: var(--color-texto);
    font-family: var(--fuente);
    padding: 15px;
    justify-content: center;
}

/* Media Queries */
@media (max-width: 1000px) {
    .main {
        flex-direction: column;
        gap: 10px;
    }

    .encriptador {
        width: 100%;
    }
}
